<% provide(:title, "about") %>
<div>
  <h2>Bookrizeの使い方</h2>
  <h4>使い方は簡単！</h4>
  <h4>ログインして”投稿”ページから、読んだ本の内容を登録するだけです。</h4>
</div>
<div>
   <h2>科学的にわかっている読書の効果</h2>
   <ul>
     <li>言語能力が高くなる</li>
     <li>創造力が上がる</li>
     <li>対人能力が上がる</li>
     <li>問題解決能力が高くなる</li>
     <li>学校の成績が良くなる</li>
     <li>年収が上がる</li>
     <li>ストレスを軽減してくれる</li>
   </ul>
</div>
<div>
   <h3>しかし！いくら本を読んでも頭に残すことができなければ無意味です！</h3>
   <h4>早速本を読んで記憶に残そう！</h4>
   <%= link_to "登録", new_user_registration_path, class: "btn btn-lg btn-primary"%>
</div>
