<% provide(:title, "about") %>
<div>
  <h2>Bookrizeの使い方</h2>
  <h3>使い方は簡単！</h3>
  <h3>ログインして”投稿(bookrize)”ページから、読んだ本の内容を登録するだけです。</h3>
</div>
<br />
<div>
   <h2>科学的にわかっている読書の効果</h2>
   <ul class="center">
     <li>年収が上がる</li>
     <li>創造力が上がる</li>
     <li>対人能力が上がる</li>
     <li>言語能力が高くなる</li>
     <li>学校の成績が良くなる</li>
     <li>問題解決能力が高くなる</li>
     <li>ストレスを軽減してくれる</li>
   </ul>
</div>
<br />
<div>
   <h3>しかし！いくら本を読んでも頭に残すことができなければ無意味です！</h3>
   <h3>けれども、忘れないように本の内容をノートにまとめても、やはり忘れてしまいます。</h3>
   <h3>そこで、ハーバード大の心理学者やチャールストン大の哲学者など著名な科学者の考えを元に</h3>
   <h3>絶対に内容を忘れなくする為の書評サイトを作りました。</h3>
</div>
 <br />
<div>
   <h3>BookrizeとはBook(本)とMemorize(記憶する)を組み合わせた造語です。</h3>
   <h3>早速本を読んで記憶に残そう！</h3>
   <% unless user_signed_in? %>
   <%= link_to "登録", new_user_registration_path, class: "btn btn-lg btn-primary"%>
   <% end %>
</div>
