@import"bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

.center {
  text-align: center;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* posts */

.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .email {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.main-container{
  color: white;
  background-image: url('/library-869061_1920.jpg');
  height: 800px;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  overflow: scroll;
  opacity: 0.9;
  text-align: center;
  margin: auto;
}

.field{
  color: lightblue;
}

.txt{
  position: absolute;
}

.logo{
  font-family: 'Sacramento', cursive;
}
